.Menu {
  text-align: center;
  padding: 10px ;
  width: 70vw;
  height: 100vh;
  position: absolute;
  background-color: #dfdfdf;
  color:white;
  transition: 0.5s;
  left: -100%;

}
.menu-bar {
  position: absolute;
  left: 92%;
  top: 40px;
  width: 35px;
  
  border-radius: 20px;
  border: none;
  background-color: #ff7d3b;
  color: white;
  height: 30px;
}

.activemenu{
  left: 0%;
  top: 0px;
}

.Menu ul li {
  list-style: none;
  padding: 20px;
}

ul{
  margin: 0;
  padding: 0;
}


